.user-reg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40%;
}

hr {
  width: 360px;
  box-shadow: 2px 2px rgba(144, 143, 143, 0.5);
}
.user-form {
  display: flex;
  flex-direction: column;
}
.user-form label {
  font-size: 18px;
  font-weight: 600;
  color: grey;
}
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  box-shadow: 2px 2px rgb(128, 128, 128, 0.6);
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 500px;
  height: 35px;
}
textarea {
  height: 70px;
}
label,
input,
select,
button,
.radio {
  margin-bottom: 12px;
}
.radio {
  display: flex;
  flex-direction: column;
}

.radio input[type="radio"] {
  width: 15px;
  height: 15px;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  box-shadow: 2px 4px rgba(144, 143, 143, 0.5);
}

.checkbox input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 1px solid rgba(144, 143, 143, 0.52);
  background-color: rgba(144, 143, 143, 0.2);
}
.radio label,
.checkbox label {
  font-weight: 200;
}
.checkbox {
  display: flex;
  align-items: center;
}
button {
  width: 550%;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.reg {
  display: flex;
  justify-content: center;
}
table {
  margin-left: -20px;
}
